@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Titan+One');

body 
{
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f8f8;
}

h1 
{
    font-family: 'Titan One', cursive;
}

table 
{
    border-spacing: 0px;
}

th, td 
{
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    margin: 0px;
    font-size: 90%;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr.head th 
{
    color: #ffffff;
    background-color: #90b4d6;
    border-bottom: 2px solid #FFC0CB;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-shadow: -1px -1px 1px #666;
    letter-spacing: 0.15em;
}

td 
{
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th 
{
    background-color: #e8eff5;
}