@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Titan+One');

body 
{
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f8f8;
}

#wrapper 
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#title 
{
    margin-left: 50px;
}

h1 
{
    font-family: 'Titan One', cursive;
    color: #123049;
}

#workshops 
{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#intro 
{
    margin-top: 90px;
}

table 
{
    border-spacing: 0px;
    margin-right: 50px;
}

th, td 
{
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    margin: 0px;
    font-size: 90%;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr.head th 
{
    color: #ffffff;
    background-color: #90b4d6;
    border-bottom: 2px solid #FFC0CB;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-shadow: -1px -1px 1px #666;
    letter-spacing: 0.15em;
}

td 
{
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th 
{
    background-color: #e8eff5;
}

form 
{
    margin: 0 auto;
}

fieldset 
{
    width: 300px;
    margin-top: 20px;
    border: 2px solid #FFC0CB;
    line-height: 1.5em;
}

legend 
{
    font-style: italic;
    color: #666;
}

input[type="text"]
{
    width: 150px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus, input[type="text"]:hover
{
    background-color: #d0e2f0;
    border: 1px solid #999;
}

input[type="submit"] 
{
    border: 1px solid #FFC0CB;
    background-color: #749abe;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 0 130px;
    letter-spacing: 0.15em;
    text-shadow: -1px -1px 1px #666;
}

input[type="submit"]:hover 
{
    cursor: pointer;
}