body 
{
	background-color: #EFEEEE;
	position: relative;
}

#first 
{
	position: absolute;
	left: 600px;
}

li {
	display: inline;
	margin: 0 10px 0 15px;
}

main 
{
	max-width: 600px;
	position: relative;
	top: 200px;
	left: 500px; 	
}

aside {
	float: left;
	margin: 0 1.5%;
	width: 300px;
}
