@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

body 
{
	background-color: #EFEEEE;
}

#first 
{
	position: absolute;
	left: 500px;
	top: 0;
	right: 0;
	height: 200px;
	width: 700px;
}

#logo 
{
	margin-left: 150px;
}

#menu 
{
	margin-left: 150px;
}

li {
	display: inline;
	margin: 0 10px 0 10px;
	font-family: 'Roboto Slab', serif;
}

a 
{
	text-decoration: none;
	color: #000000;
}

a:hover 
{
	color: #FF0000;
}

main 
{
	max-width: 700px;
	position: relative;
	top: 200px;
	left: 500px; 	
}

h1 
{
	font-family: 'Roboto Slab', serif;
}

p 
{
	font-family: 'Open Sans', sans-serif;
}

p#author 
{
	font-size: 12px;
}

p.lede 
{
	font-size: 18px;
}

figcaption 
{
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
}

aside {
	float: left;
	margin-right: 50px;
	width: 300px;
	border-top: 3px solid #D3D3D3;
	border-bottom: 3px solid #D3D3D3;
	font-size: 14px;
}
