body 
{
	background-color: #EFEEEE;
}

#first 
{
	position: fixed;
	left: 450px;
	top: 0;
	right: 0;
	height: 200px;
	width: 700px;
	z-index: 9999;
}

#logo 
{
	margin-left: 150px;
}

#menu 
{
	margin-left: 150px;
}

li {
	display: inline;
	margin: 0 10px 0 15px;
}

main 
{
	max-width: 600px;
	position: relative;
	top: 200px;
	left: 500px; 	
}

aside {
	float: left;
	margin: 0 1.5%;
	width: 300px;
}
